.footer {
  padding-top: 40px;
  background-color: #11829d;

  .content {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 165px;
      border-radius: 10px;
      box-shadow: 0 0px 25px 0 #f8f9fa;
    }

    .main_menu {
      max-width: 300px;
      .list-group {
        min-width: 165px;
      }

      button {
        text-align: center;
      }
      a {
        color: #232323;
        text-decoration: none;
      }
    }
  }

  .footer_bottom {
    color: azure;
    font-size: 14px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: 0;
    background-color: #0c0863;
  }
}
