@import "../variables";

.header {
  padding: 40px 0;
  p {
    margin: 0;
    padding: 0;
  }

  &_top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-direction: column;
      .textBox_logo {
        display: none;
      }
    }
    .text-box {
      padding: 0 0 0 5px;
    }

    img {
      width: 32px;
      height: 32px;
      margin-right: 5px;
    }

    a {
      text-decoration: none;
    }

    p {
      color: $green-logo;
    }

    .logo-box {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 23%);
      }
    }

    .address-box {
      display: flex;
      align-items: center;
    }

    .timeWork-box {
      display: flex;
      align-items: center;
    }

    .telefone-box {
      display: flex;
      align-items: center;
      p {
        font-size: 1.5em;
        font-weight: 700;
      }
    }

    .login-box {
      button {
        min-width: 140px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: $green-backgroud;
      }
      span {
        color: $green-color;
        font-weight: 700;
      }
      .nickName {
        color: black;
      }
    }
  }

  &_bottom {
    margin: 10px 0;
    a {
      text-align: center;
    }
    .list-group {
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      button {
        text-align: center;
      }
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
}
