@import "../variables";

.main {
  color: $green-text;
  section {
    margin-bottom: 60px;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: $green-text;
  }

  .banner_top {
    width: 100%;
    height: 551px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("../../../public/img/background_banner.png");
    background-color: $background;
    @media (max-width: 1024px) {
      height: 50%;
      background-image: url("../../../public/img/background_banner_mobile.png");
    }

    .text-box {
      margin-top: 20px;
      max-width: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      h1 {
        text-align: center;
        @media (max-width: 660px) {
          font-size: 14px;
        }
      }
      ul {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
      }
    }
  }
  .banner_top::before {
    position: absolute;
    background: url("../../../public/img/banner_before.png");
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    content: "";
    background-size: 100% 100%;
  }

  .carousel {
    h3,
    p {
      color: $black;
    }
  }

  .order_forms {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .order_form_guest {
    h4 {
      margin-bottom: 38px;
    }
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    background-color: #e9f0f4;
    box-shadow: 0 8px 35px 0 rgb(0 0 0 / 23%);
    padding: 75px 60px;
    position: relative;
    @media (max-width: 1024px) {
      padding: 10px 10px;
    }
  }

  .order_form_user {
    max-width: 600px;
    margin-left: 50px;
    border-radius: 10px 10px 0 0;
    background-color: #e9f0f4;
    box-shadow: 0 8px 35px 0 rgb(0 0 0 / 23%);
    padding: 75px 60px;
    position: relative;
    @media (max-width: 1024px) {
      margin-top: 30px;
      margin-left: 0px;
      width: 100%;
      padding: 10px 10px;
    }

    a {
      text-decoration: underline;
      color: blue;
    }
    button {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      background-color: $green-backgroud;
      a {
        text-decoration: none;
        text-align: center;
      }
    }
    span {
      color: $green-color;
      font-weight: 700;
    }
    P {
      margin-top: 30px;
      margin-bottom: 5px;
    }
    .nickName {
      color: black;
    }
  }
}
