$black: #232323;
$background: rgba(255, 255, 128, 0.5);
$gray-line: #f6f6f6;
$green-logo: #1a9b7b;
$green-backgroud: rgba(25, 135, 84, 0.7294117647);
$green-text: Teal;
$green-color: AliceBlue;

$container-width: 80%;

$duration: 0.15s;
